
     <!-- Start Hero Area -->
     <section class="hero-area">
        <!-- Single Slider -->
        <div class="hero-inner">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-6 co-12">
                        <div class="inner-content">
                            <div class="hero-text">
                                <h1 class="wow fadeInUp" data-wow-delay=".3s">Find the Perfect Internship
                                    <br>
                                    to Launch Your Career
                                </h1>
                                <p class="wow fadeInUp" data-wow-delay=".5s">Navigating internships can be challenging, but we make it simple.<br>
                                    With Esprit Interlink, discover opportunities, connect with companies,<br>
                                    and take the next step toward your future.
                                </p>
                            </div>
                            <div class="job-search-wrap-two mt-50 wow fadeInUp" data-wow-delay=".7s">
                                <div class="job-search-form">
                                    <form action="#">
                                        <!-- Single Field Item Start  -->
                                        <div class="single-field-item keyword">
                                            <label for="keyword">Type</label>
                                            <input id="keyword" placeholder="Type Internship " name="keyword"
                                                type="text">
                                        </div>
                                        <!-- Single Field Item End  -->
                                        <!-- Single Field Item Start  -->
                                        <div class="single-field-item location">
                                            <label for="location">Where</label>
                                            <input id="location" class="input-field input-field-location"
                                                placeholder="Location" name="location" type="text">
                                        </div>
                                        <!-- Single Field Item End  -->
                                        <div class="submit-btn">
                                            <button class="btn" type="submit">Search</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="trending-keywords mt-30">
                                    <div class="keywords style-two">
                                        <span class="title">Popular Keywords:</span>
                                        <ul>
                                            <li><a href="#">Administrative</a></li>
                                            <li><a href="#">Android</a></li>
                                            <li><a href="#">app</a></li>
                                            <li><a href="#">ASP.NET</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 co-12">
                        <div class="hero-video-head wow fadeInRight" data-wow-delay=".5s">
                            <div class="video-inner">
                                <img src="assets/frontA/images/hero/hero-image.png" alt="#">
                                <a href="https://www.youtube.com/watch?v=cz4z8CyvDas" class="glightbox hero-video"><i
                                        class="lni lni-play"></i></a>
                                <!-- Video Animation -->
                                <div class="promo-video">
                                    <div class="waves-block">
                                        <div class="waves wave-1"></div>
                                        <div class="waves wave-2"></div>
                                        <div class="waves wave-3"></div>
                                    </div>
                                </div>
                                <!--/ End Video Animation -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
    </section>
    <!--/ End Hero Area -->
