<div class="flexx">
  <app-aside></app-aside>
  <div class="container">
    <app-nav-back></app-nav-back>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div
              class="card-header pb-0 d-flex justify-content-between align-items-center"
            >
              <h6>Project Table</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Id
                      </th>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Project
                      </th>
                      <th
                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Application du pipe 'paginate' sur la donnée -->
                    <tr *ngFor="let p of data">
                      <td>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="text-xs text-secondary mb-0">
                            {{ p.idproject }}
                          </p>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">
                          {{ p.description }}
                        </p>
                      </td>
                      <td class="align-middle text-center">
                        <a
                          href="javascript:;"
                          class="text-secondary font-weight-bold text-xs tt"
                          (click)="viewDepense(p.idproject)"
                        >
                          Voir Depense
                        </a>
                        <span class="text-secondary text-xs font-weight-bold"
                          >/</span
                        >

                        <a
                          href="javascript:;"
                          class="text-secondary font-weight-bold text-xs tt"
                          (click)="openModal(modalDepense, p.idproject)"
                          >Ajouter Depense</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalDepense let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Ajouter une Dépense</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit(modal)">
      <div class="mb-3">
        <label class="form-label">Montant:</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="nouvelleDepense.montant"
          name="montant"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Type de Dépense:</label>
        <select
          class="form-select"
          [(ngModel)]="nouvelleDepense.type"
          name="type"
          required
        >
          <option *ngFor="let type of typeDepenses" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Description:</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nouvelleDepense.description"
          name="description"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Justificatif:</label>
        <input
          type="file"
          class="form-control"
          (change)="onFileSelected($event)"
        />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="modal.dismiss()"
        >
          Annuler
        </button>
        <button type="submit" class="btn btn-success">Ajouter</button>
      </div>
    </form>
  </div>
</ng-template>
