<div class="flexx">
  <app-aside></app-aside>
  <div class="container">
    <app-nav-back></app-nav-back>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div
              class="card-header pb-0 d-flex justify-content-between align-items-center"
            >
              <h6>Depence Table</h6>
              <div class="search-container mb-3">
                <div class="search-container mb-3">
                  <input
                    #searchInput
                    type="text"
                    (input)="onSearch(searchInput.value)"
                    class="form-control"
                    placeholder="Rechercher..."
                  />
                </div>
              </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Project
                      </th>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Description
                      </th>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3"
                      >
                        Montant
                      </th>
                      <th
                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Date
                      </th>
                      <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Justufication
                    </th>
                      <th
                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Type
                      </th>
                      <th
                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Statut
                      </th>
                      <th
                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Application du pipe 'paginate' sur la donnée -->
                    <tr
                      *ngFor="
                        let despense of data
                          | paginate
                            : {
                                itemsPerPage: itemsPerPage,
                                currentPage: currentPage
                              }
                      "
                    >
                      <td>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="text-xs text-secondary mb-0">
                            {{ despense.projectByProjectUid?.nom }}
                          </p>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">
                          {{ despense.description }}
                        </p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        {{ despense.montant }}
                      </td>

                      <td class="align-middle text-center text-sm">
                        {{ despense.date | date : "dd/MM/yyyy" }}
                      </td>

                      <td class="align-middle text-center text-sm">
                        {{ despense.fileName }}
                      </td>
                      
                      <td class="align-middle text-center text-sm">
                        {{ despense.type }}
                      </td>
                      <td class="align-middle text-center text-sm">
                        {{ despense.statut }}
                      </td>
                      <td class="align-middle text-center">
                        <a
                          href="javascript:;"
                          class="text-secondary font-weight-bold text-xs tt"
                          (click)="openModal(modalDepense, despense.id)"
                          >Edit</a
                        >
                        <span class="text-secondary text-xs font-weight-bold"
                          >/</span
                        >
                        <a
                          href="javascript:;"
                          class="text-secondary font-weight-bold text-xs tt"
                          (click)="supprimerDepense(despense.id)"
                          >Delete</a
                        >
                        <span class="text-secondary text-xs font-weight-bold"
                          >/</span
                        >
                        <a
                          href="javascript:;"
                          class="text-secondary font-weight-bold text-xs tt"
                          (click)="downloadFile(despense.id)"
                          >File</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Contrôles de pagination avec un design Bootstrap -->
            <div class="d-flex justify-content-center mt-3">
              <pagination-controls
                (pageChange)="currentPage = $event"
                [directionLinks]="true"
                [autoHide]="true"
              >
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalDepense let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Ajouter une Dépense</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit(modal)">
      <div class="mb-3">
        <label class="form-label">Montant:</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="nouvelleDepense.montant"
          name="montant"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Type de Dépense:</label>
        <select
          class="form-select"
          [(ngModel)]="nouvelleDepense.type"
          name="type"
          required
        >
          <option *ngFor="let type of typeDepenses" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Description:</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nouvelleDepense.description"
          name="description"
          required
        />
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="modal.dismiss()"
        >
          Annuler
        </button>
        <button type="submit" class="btn btn-success">Ajouter</button>
      </div>
    </form>
  </div>
</ng-template>
