<section class="about_section layout_padding">
    <div class="container  ">
      <div class="heading_container heading_center">
        <h2>
          About <span>Us</span>
        </h2>
        <p>
          Empowering students with seamless internship opportunities by connecting them with top companies and project managers.
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="assets/frontA/images/AboutUs.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              Esprit_Interlink
            </h3>
            <p>
              Connecting students, companies, and project managers to streamline the internship experience. Our platform simplifies the process of finding, applying for, and managing internships, ensuring a seamless and efficient journey for all users.
            </p>
            <p>
              We believe in providing a professional and intuitive system that fosters growth, opportunity, and success. Whether you’re a student looking for the perfect internship, a company seeking top talent, or a project manager overseeing candidates, Esprit Interlink is designed to meet your needs.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
