<h1 class="centre">Modifier Réclamation</h1>
<div class="entries-section-container">
  <div *ngIf="isLoading" >
    Chargement en cours...</div>
  <div class="form-field form-field-block">
    <div *ngIf="!isLoading">
      <div class="form-field form-field-block">
        <label for="titleField" class="text">Titre :</label>
        <input type="text" id="titleField" [(ngModel)]="reclamation.title" class="form-control">
      </div>
      <div class="form-field form-field-block">
        <label class="text">Type de Réclamation :</label>
        <mat-form-field>
          <mat-label>Type de Réclamation</mat-label>
          <select matNativeControl required [(ngModel)]="reclamation.typeReclamation" class="form-control">
            <option value="ANNULATION">Annulation</option>
            <option value="MODIFICATION">Modification</option>
            <option value="AUTRES">Autres</option>
          </select>
        </mat-form-field>
      </div>
      <!--      <div class="form-field form-field-block">-->
      <!--        <label class="text">Statut de Réclamation</label>-->
      <!--        <select id="statutField" [(ngModel)]="reclamation.statutReclamation" class="form-control">-->
      <!--          <option value="ENATTENTE">En Attente</option>-->
      <!--          <option value="APPROUVE">Approuvé</option>-->
      <!--          <option value="REJETE">Rejeté</option>-->
      <!--          <option value="ALETUDE">À l'étude</option>-->
      <!--        </select>-->
      <!--      </div>-->
      <div class="form-field form-field-block">
        <label for="descriptionTextArea" class="text">Description :</label>
        <textarea id="descriptionTextArea" [(ngModel)]="reclamation.description_Reclamation" class="form-control"></textarea>
      </div>
      <div class="form-actions">
        <button (click)="updateReclamation()" class="Button_Edit">Mettre à jour</button>
      </div>
    </div>
  </div>
</div>
